<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OBS_Scene_Switcher.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <OBS_Scene_Switcher.My.MySettings>
            <setting name="b1" serializeAs="String">
                <value />
            </setting>
            <setting name="b2" serializeAs="String">
                <value />
            </setting>
            <setting name="b3" serializeAs="String">
                <value />
            </setting>
            <setting name="b4" serializeAs="String">
                <value />
            </setting>
            <setting name="b5" serializeAs="String">
                <value />
            </setting>
            <setting name="b6" serializeAs="String">
                <value />
            </setting>
            <setting name="b7" serializeAs="String">
                <value />
            </setting>
        </OBS_Scene_Switcher.My.MySettings>
    </userSettings>
</configuration>